QDRANT_URL=
COLLECTION=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
GROQ_API_KEY=
GROQ_MODEL=

POSTGRES_READONLY_USER=
POSTGRES_READONLY_PASSWORD=

REDIS_URL=


NEO4J_USER=
NEO4J_PASSWORD=